.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.sencod{
  padding-left: 30px;
}

.list-group img , .table img{
  width: 150px;
}
.outsite_div{
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #C9C9C9;
  vertical-align: middle;
  .insite_div{
    width: 18px;
    height: 18px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid #000000;
  }
}
